@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/background.jpg');
}


/* Styles for tablet devices */
@media screen and (min-width: 820px) {
  body {
    color: rgb(var(--foreground-rgb));
    background-image: url('/background.jpg');
    background-size: cover;
  }
}

/* Styles for desktop devices */
@media screen and (min-width: 1024px) {
  body {
    color: rgb(var(--foreground-rgb));
    background-image: url('/background.jpg');
    background-size: cover;
  }
}